.container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  border: 1px solid white;
}

.container h3{
  color: green;
  font-size: 2rem; 
  margin-top: 5rem;
  text-align: center;  
}

.link{
  animation: blink 2s linear 0s infinite alternate;
  display: block;
  max-width: 20rem;
  font-size: 1.4rem;
  text-align: center;
  margin: 5rem auto 0 auto;
  // background-color: red;
  // margin: 0 auto;
}

@keyframes blink{
  0%{
    background-color: red;
  }
  100%{
    background-color: green;
  }
}