 .container{
  position: absolute;
  bottom: -50vh; // hiden
  // bottom: 0;
  height: 45vh;
  width: 100%;
  transition: background-color var(--duration-color-theme) ease 0ms, bottom var(--duration-menu-animation) ease 0ms;
  
  background-color: var(--bg-nav-menu);
  // background-color: red; // testing
  box-shadow: 0px 0px 8px 1px #888;
}
.openContainer{
  bottom: 0vh;
}

.closeLittleBtn{
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.closeBtn{
  display: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}




@media (min-width : 550px){
  .container{
    height: 100%;
  }
  .closeLittleBtn{
    display: none;
  }
  .closeBtn{
    display: block;
  }
}

@media (min-width : 950px){
  .container{
    bottom: auto;
    left: -100%;
    transition: background-color var(--duration-color-theme) ease 0ms, left var(--duration-menu-animation) ease 0ms;
  }
  .openContainer{
    bottom: auto;
    left: 0;
  }
  .closeBtn{
    bottom: 15px;
    right: 50%;
    transform: translate(50%);
  }
}