@import './rootVariables.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
};
html{
  font-size: 16px;
};
body {
  text-rendering: optimizeLegibility;
};
#root{
  min-height: 100vh;
  overflow-x: hidden;
};
ul, ol {
  list-style: none;
};
a {
  text-decoration: none;
  color: inherit;
};