$pointerSize: 1.56rem;
$pictureSize: 1.25rem;
$pictureGap: 0.125rem;
%position {
  position: absolute;
  width: 1.25rem;;
  height: 1.25rem;;
  transform: translateY(-50%);
  top: 50%;
}

.container{
  position: relative;
  width: 5.62rem;
  height: 2rem;
  background-color: var(--bg-theme-toggle);
  box-shadow: var(--shadow-theme-toggle) 0px 3px 6px 1px inset, var(--shadow-theme-toggle) 0px 1px 3px -1px inset; // day theme
  border-radius: 2.81rem;
  cursor: pointer;
  transition: background-color var(--duration-color-theme) ease 0ms;
  overflow: hidden;
}

.pointer{
  position: absolute;
  width: $pointerSize;
  height: $pointerSize;
  top: 50%;
  left: $pictureGap;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--circle-theme-toggle);
  transition: left var(--duration-color-theme) ease 0ms;
}
.pointerRight{
  left: calc(100% - $pointerSize - $pictureGap);
}
.sun{
  @extend %position;
  left: 0.25rem;
  fill: var(--color-btn-one);
  
}
.moon{
  @extend %position;
  right: 0.25rem;
  fill: var(--color-btn-one)
}