@import "##/styles/mediaSizes";

.container{
  position: absolute;
  bottom: -50vh; // hiden
  height: 45vh;
  width: 100%;
  transition: background-color var(--duration-color-theme) ease 0ms, bottom var(--duration-menu-animation) ease 0ms;
  
  background-color: var(--bg-nav-menu);
  // background-color: red; // testing
  box-shadow: 0px 0px 8px 1px #888;
}
.openContainer{
  bottom: 0vh;
}
.closeLittleBtn{
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}
.closeBtn{
  display: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
}
.logo{
  position: absolute;
  height: 8vh;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.navigateContent{
  margin-top: 2rem;
  z-index: 1;
}



@media (min-width : $media_ipad_one){
  .container{
    height: 100%;
  }
  .closeLittleBtn{
    display: none;
  }
  .closeBtn{
    display: block;
  }
  .logo{
    bottom: auto;
    top: 1rem;
    right: 2rem;
    left: auto;
    transform: none;
  }
  .navigateContent{
    position: absolute;
    left: 1rem;
    transform: none;
  } 
}

@media (min-width : $media_descTop_one){
  .container{
    bottom: auto;
    left: -110%;
    transition: background-color var(--duration-color-theme) ease 0ms, left var(--duration-menu-animation) ease 0ms;
  }
  .openContainer{
    bottom: auto;
    left: 0;
  }
  .closeBtn{
    bottom: 15px;
    right: 50%;
    transform: translate(50%);
  }
  .logo{
    right: 50%;
    transform: translate(50%);
  }
  .navigateContent{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 9rem;
  } 
}