.container{
  display: inline-block;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 5px;
  border: 2px solid rgb(255, 255, 255);
  min-width: 140px;
  border-radius: .5rem;
  text-align: center;
  padding: .2rem 1rem;
  user-select: none;
  cursor: pointer;
}