@import "##/styles/mediaSizes";

.container{
  display: inline-block;
  color: var(--color-btn-one);
  font-size: 1.1rem;
  letter-spacing: 0.21rem;
  border: 2px solid var(--color-btn-one);
  min-width: 8.75rem;
  border-radius: .5rem;
  text-align: center;
  padding: .2rem 1rem;
  user-select: none;
  transition: color var(--duration-color-theme) ease 0, border var(--duration-color-theme) ease 0;
  font-weight: bolder;
}
@media (min-width:$media_descTop_one ){
  .container{
    cursor: pointer;
  }
}