.container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  border: 1px solid white;
}
.title{
  text-align: center;
  background-color: red;
  font-size: 2.5rem;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  
}